html {
	box-sizing: border-box;
}
*,
*::before,
*::after {
	box-sizing: content-box;
}

$primary: thistle;
$secondary: teal;
$dark: $secondary;

body {
	font-family: sans-serif;
}


@import '../node_modules/bootstrap/scss/bootstrap';
@import 'bd-placeholder-img' 
